/********* General styles *********/

* {
  box-sizing: border-box;
  font-family: "Gill Sans", sans-serif;
  margin: 0px;
}
html {
	background-color: #993333;
  margin-right: 100px; 
  margin-left: 100px;
}
/*body {
  border-left: solid 40px #862D2D;
  border-right: solid 40px #862D2D;
}

/********** Header *********/

header {
  height: 80px;
  width: 100%;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 0px;
  margin-bottom: 25px;
  background-color: #75D175;
  display: table;
  background-image: url(images/bigtotoro.png);
  background-position: 7%;
  background-repeat: no-repeat;
  /*background-image: url(images/arches.png);
  /*background-image: url(images/geometric-shape.png);
  background-position: bottom right; 
  background-repeat: no-repeat;*/
} 

/********* Main content *********/

#main-content {
  background-color: #336699;
  background-image: url(images/food.png);/*url(images/geolines1000.png)*/
  background-position: 50%;
}
.title {
  clear: right;
  text-align: center;
  font-family: "Dawning of a New Day";
  font-weight: bold;;
  font-size: 69px;
  color: #204060; #206060;
  letter-spacing: 3px;
  height: 100px;
  width: 100%;
  padding-top: 20px;
}
.container {
  background-color: #999933;
  opacity: 0.8;
  border-radius: 5px;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  color: #292929;
  display: table;
}
p {
  padding: 10px 10px 10px 10px;
  width: 100%;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
  clear: left;
  text-indent: 20px;
  line-height: 1.8;
} 
h5 {
  border-radius: 50px;		
  text-align: center;
  letter-spacing: 2px;
  width: 80px;
  height: 80px;
  padding-top: 30px;
  margin-left: 4px;
  margin-top: 25px;
  color: white;
}
.p1 {
  background-color: #993366;
}
.p2 {
  background-color: #663399;
}
.p3 {
  background-color: #993399;
}
#intro {
  background-color: #86862D;
  border-radius: 5px;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 25px;
  color: #292929;
  display: table;
}
.capital {
  font-size: 1.8em; 
  letter-spacing: 3px;
  color: #663399;
}

/********* Footer ********/

footer {
  height: 100px;
  width: 100%;
  margin-top: 50px;
  background-color: #75D175;
  margin-bottom: 0px;
  clear: both;
  background-image: url(images/coralheart.png);
  background-position: 50%;
  background-repeat: no-repeat;
}
#kiss {
  text-align: center;
  font-family: "Dawning of a New Day";
  font-size: 60px;
  color: #206060;
  letter-spacing: 3px;
  width: 100%;
}

/********* Classes for jQuery *********/

.text {
	text-align: center;
	color: white;
}
.opaque {
  opacity: 1;
}
.red {
	background-color: #C247C2;
	font-size: 1.1em;
	padding-top: 25px;
}
.highlight {
  color: #402060;
}

/* Simple responsive framework. */

.row {
  width: 100%;
}

/********** Large devices only **********/

@media (min-width: 992px) {
  .col-lg-4 {
    float: left; 
    width: 33.33%; 
    margin-bottom: 50px;
  }
  .col-lg-12 {
    float: left;
    width: 100%;
    margin-bottom: 50px; 
    clear: both;
  }
  header {
    height: 150px;
    margin-bottom: 50px;
  }
}

/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
    /* width: 105.5%;
    position: relative;
    right: 25px;
    top: 25px; 
    margin-bottom: 50px;*/
  }
  .title {
    font-size: 2.8em;
  }
  header {
    background-image: url(images/totorosmall.png);
  }
  /*body {
    border-left: solid #862D2D 25px;
    border-right: solid #862D2D 25px;
  }*/
}

/********* Small devices only *********/

@media (min-width: 480px) and (max-width: 767px) {
  html {
    margin-right: 50px; 
    margin-left: 50px;
  }
  header {
    background-image: url(images/totoro.png);
  }
  .title {
    font-size: 1.7em;
    padding-top: 30px;
  }
  /*body {
    border-left: solid #862D2D 10px;
    border-right: solid #862D2D 10px;
  }*/
}

/********* Extra small devices only *********/

@media (max-width: 479px) {
  html {
    margin-right: 25px;
    margin-left: 25px;
  }
  header {
    background-image: url(images/totoro.png);
  }
  /*body {
    border-right: solid #862D2D 5px;
    border-left: solid #862D2D 5px;
  }*/
  .capital {
    font-size: 1.1em;
  }
  .title {
    font-size: 1.4em;
    padding-top: 30px;
  }
}

/******* Ridiculously small devices only *******/
/*
@media (max-width: 381px) {
  .title {
    font-size: 10px;
    padding-top: 30px;
  }
}*/